<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Eventr</title>
        <link rel="stylesheet" href="/css/style-event.css">
        <script src="/js/displayElement.js"></script>
    </head>
    <body>
        <header>
            <div class="banner col-12">
                <nav class="navbar navbar-expand-lg bg-body-tertiary" background-color="rgb(78, 11, 46)">
                <div class="container">
                    <a class="navbar-brand" href="#">
                    <img src="./images-load/20170409_114604.jpg" alt="Eventr" width="45" height="40">
                    </a>
                    <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <form class="d-flex navbar-brand" role="search">
                        <input class="form-control me-4" type="search" placeholder="Search" aria-label="Search">
                        </form>
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {{#if name}}
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/logout">Cerrar sesion</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/form">Formulario</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled">{{name}}</a>
                            </li>
                        {{else}}
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/login">Iniciar sesion</a>
                            </li>
                        {{/if}}
                        </ul>
                        <div>
                            <img src="../img/cat.jpg" alt="" width="45" height="40" class="imguser">
                        </div>
                    </div>
                    </div>
                </nav>
                <div class="event-title">
                    <div class="title-banner">
                        <p>FERIA SAN PEDRO</p>
                    </div>
                    <div class="info-banner">
                        <p>Agosto 29/San Pedro, centro</p>
                    </div>
                </div>
            </div>
        </header>
        <div class="nav-info row">
            <div class="head-land col-2 event">
                <button value="event" id="event-info-button"  onclick="showSection('event-info')">Evento</button>
            </div>
            <div class="head-land col-2 galery">
                <button value="galery"  id="gallery-info-button"  onclick="showSection('gallery-info')">Galeria</span>
            </div>
            <div class="head-land col-2 located">
                <button value="located"  id="location-event-button"  onclick="showSection('location-event')">Ubicación</button>
            </div>
            <div class="head-land col-2 detail">
                <button value="detail"   id="detail-event-button"  onclick="showSection('detail-event')">Detalles</button>
            </div>
        </div>
        <div class="event-info col-lg-8" id="event-info">
            <p><b>1</b> próximo Evento(s)</p>
            <div class="button-date">
                <button type="submit" class="btn btn-light">29/08/2023</button>
            </div>
            <h1>Feria San Pedro</h1>
            <div class="date-hour row">
                <div class="col-2" align="center">
                    <div>AGO</div>
                    <div><h2>29</h2></div>
                </div>
                <div class="col-10">
                    <div class="day-hour">
                        <b>Jueves 19:00 hrs</b>
                    </div>
                    <div class="comment">
                        Feria anual de San Pedro, la entrada al palenque solo con boleto 
                    </div>
                </div>
            </div>
            <div class="button-ticket">
                <button type="submit" class="btn btn-primary">Conseguir Boleto ></button>
            </div>
        </div>
        
        <div class="gallery-info" id="gallery-info">
            <div class="row">
                <div class="col-4 px-2 section-pic">
                    <img src="/img/gallery/Caridad-localizado-San-Pedro-Alcantara_.jpg" class="gallery-pic" alt="picture1" width="100%">
                </div>
                <div class="col-4 px-2 section-pic">
                    <img src="/img/gallery/Feria-de-San-Pedro-2023.jpg" class="gallery-pic" alt="picture1"  width="100%">
                </div>
                <div class="col-4 px-2 section-pic">
                    <img src="/img/gallery/SanPedro3.jpg" class="gallery-pic" alt="picture1"  width="100%">
                </div>
                <div class="col-4 px-2 section-pic">
                    <img src="/img/gallery/feria-feris-wheel.jpg" class="gallery-pic" alt="picture1" width="100%">
                </div>
                <div class="col-4 px-2 section-pic">
                    <img src="/img/gallery/SanPedro.jpg" class="gallery-pic" alt="picture1"  width="100%">
                </div>
                <div class="col-4 px-2 section-pic">
                    <img src="/img/gallery/bolante.jpg" class="gallery-pic" alt="picture1"  width="100%">
                </div>
            </div>
        </div>

        <div class="location-event" id="location-event">
            <h5>123.0156,-78.945</h5>
        </div>

        <div class="detail-event" id="detail-event">
            <div><h2>Feria San Pedro</h2></div>
            <div class="text-detail">
                La Feria de San Pedro es una celebración anual que se lleva a cabo en el municipio de San Pedro Garza García, Nuevo León, México. La feria se celebra en honor a San Pedro Apóstol, el santo patrono del municipio.
                La feria se lleva a cabo en el Recinto Ferial de San Pedro, un espacio ubicado en el sector de Valle Oriente. La feria cuenta con una amplia variedad de atracciones, incluyendo juegos mecánicos, puestos de comida, espectáculos y música en vivo.
                La Feria de San Pedro es un evento popular que atrae a visitantes de todo Nuevo León y de otros estados de México. La feria es una oportunidad para divertirse, disfrutar de la gastronomía local y celebrar la cultura de San Pedro Garza García.
                Por la mañana:
                La feria abre sus puertas a las 10:00 de la mañana. Los visitantes pueden comenzar su día visitando los juegos mecánicos, como la montaña rusa, el carrusel y las tazas locas. También pueden disfrutar de la comida típica de la feria, como los tacos, las enchiladas y los churros.
                Por la tarde:
                Por la tarde, los visitantes pueden asistir a uno de los muchos espectáculos que se presentan en la feria. Hay espectáculos de danza, música y comedia. También se llevan a cabo eventos culturales, como el Festival de la Música Norteña y el Concurso de Baile Folclórico.
                Por la noche:
                Por la noche, la feria se ilumina con luces de colores. Los visitantes pueden disfrutar de un concierto de música en vivo o simplemente pasear por la feria y disfrutar del ambiente festivo.
            </div>
        </div>
    </body>

    
</html>